In [1]:
from df import process_data

In [2]:
process_data('foo.csv')

   id customer_name  total_purchases
0   1         Bobby               10
1   2         Becky               20
2   3        Billie               30

In [3]:
df = process_data('foo.csv')

In [4]:
df

   id customer_name  total_purchases
0   1         Bobby               10
1   2         Becky               20
2   3        Billie               30

In [6]:
df.columns.to_list()

['id', 'customer_name', 'total_purchases']

In [7]:
assert df.columns.to_list() == ['id', 'customer_name', 'total_purchases']

In [9]:
assert df.columns.to_list() == ['id', 'commanders', 'total_purchases'], "should be: id, customer_name, total_purchases"

AssertionError: should be: id, customer_name, total_purchases